// COLOR VARIABLES
$color-primary: #3481ff;
$color-primary-bold: #211f78;
$color-white: #fff;
$color-black: #000;
$color-green: #35d2b9;
$color-grey: #f2f7ff;
$color-grey-weight: #a1a4ac;
$color-border-grey: #ececed;
$color-bg-grey: #e0e8ef;

// FONT VARIABLES
$default-font-size-n: 16;
$default-font-size: $default-font-size-n+px;
$default-line-height: 3.2rem;

// BORDER Radius
$default-border-radius : 6px;
$default-box-shadow : 0 2px 4px 2px rgba(15,34,58,.12);
$default-transition-duration : 0.3s;

$height-header : 48px;
